body{
    background-color:grey;
}
*{
    margin: 0;
}
.head{
    background-color: red;
    text-align: center;
    height:4rem;
    padding-top: 1rem;
    font-size:3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:white;
}
.container{
    background-color: grey;
    border-radius:2rem;
    border:solid khaki;
    margin-left:40rem;
    margin-top: 4rem;
    padding-top: 2rem;
    background-color: black;
    height: 29rem;
    width:15.8rem;
}
.input{
    margin-left: 2rem;
    padding-bottom: 2rem;
}
.expression{
    font-size:2rem;
    color: #fff;
    background-color: black;
    height: 2rem;
    width:11rem;
    border:black;
}
.row1{
    padding-top: 1rem;
    display: flexbox;
    justify-content: space-around;
    margin-left: 7.8rem;
}
.row{
    margin-left: 0.5rem;
    padding-top: 1rem;
    display: flexbox;
    align-items: center;
    justify-content:center;
}
.button{
    font-size: medium;
    color:white;
    cursor: pointer;
    margin: 0;
    padding: 1.3rem 1.5rem;
    border-radius:80%;
    border: black;
}
.pr{
    padding-right: 1.6rem;
}

.blue{
    background-color: rgb(88, 88, 191);
    opacity: 0.6;
    
}
.grey{
    background-color: grey;
    opacity: 0.5 ;
}
.grey:hover{
    opacity: 0.7;
}
.trans-grey{
    background-color: grey;
    opacity: 0.2;
}
.trans-grey:hover{
    opacity: 0.5;
}
.blue:hover{
    opacity: 1;
}

@media screen and (max-width:1000px) and (min-width:300px) {
    .container{
        margin-left: 4rem;
    }
}
